.listing-wrap{
    display: block;
    max-width: 60%;
    width: 100%;
}
.listing-wrap h2 {
    text-align: center;
    padding: 20px 0;
}
.listing-table h4 {
    vertical-align: middle;
    margin-bottom: 0;
    float: right;
}
.search-block {
    width: 40%;
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
}
.listing-table  {
    margin-left: 20px;
    margin-bottom: 20px;
}
.table-header {
    display: inline-block;
    padding:  15px;
}
.name-block {
    cursor: pointer;
}
.btn-list {
    cursor: pointer;
}
.name-block span,
.name-block .material-icons {
    display: inline-block;
    vertical-align: middle;
}
.td-btn-group a+a {
    padding-left: 5px;
}
.btn-search{
    padding-right: 5px;
    
}
.navbar-dark  {
    margin-bottom: 35px;
    flex-direction: row-reverse;
}
.navbar-dark .nav-link {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
}
.navbar-dark .nav-link:hover {
    color: rgba(255,255,255,0.4)
}
