.form-container {
    display: block;
    position: relative;
    border: solid 1px rgba(0,0,0,0.2);
    max-width: 900px;
    margin: 0 auto;   
}
.form-container .form-group {
    border-bottom:  solid 1px rgba(0,0,0,0.2);
    margin-bottom: 0;
}
.form-container .button-group {
    padding:15px;
    text-align: right;
}
.form-container .button-group .btn {
    font-size: 18px;
    font-weight: 500;
    padding: 6px 25px 8px;
    letter-spacing: 0.3px;
}
.form-container .button-group .btn+.btn {
    margin-left:15px;
}
.form-left {
    display:inline-block;
    vertical-align: middle;
    width: 25%;
    padding: 15px;
}
.form-left label{
    font-size: 18px;
    font-weight: 500;
}
.form-left label .text-danger {
    font-size: 18px;
    top: -0.3px;
}
.form-right {
    display: inline-block;
    width:75%;
    vertical-align: middle;
    border-left: solid 1px rgba(0,0,0,0.2);
    padding: 15px;
}
.form-right .form-control{
    max-width: 60%;
    font-size: 17px;    
}
.form-right .radio-block {
    display: inline-block;
    padding: 10px;

}
.form-right textarea {
    resize: none;
}
.form-right .radio-block label,
.form-right .checkbox-block label{
    padding-left: 5px;
    margin-bottom: 0;
    font-size: 18px;
}
.btn-date {
    line-height: 0.4;
    font-size: 30px;
}
.alert-block{
    max-width: 60%;
}
.datе-picker-wrapper {
    padding: 1rem;
    max-width: 600px;
}
.navbar-dark  {
    margin-bottom: 35px;
}
.navbar-dark .nav-link {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
}
.navbar-dark .nav-link:hover {
    color: rgba(255,255,255,0.4)
}